<%- include('parts/top.ejs') %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background-image: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);;
      }

      .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(100px, auto);
        grid-template-areas:
          "in1 in1 in1 in1"
          "in2 in2 in2 in2"
          "in3 in3 in3 in3"
        ;
        grid-gap: 10px;
        opacity: .7;

      }
tbody > tr:nth-of-type(n){
  background-color: white;
}
      .in1 {
        grid-area: in1;
        animation: elemove 1s alternate-reverse 1s;
        display: flex;
        position: relative;
      }

      .in1>div {
        width: 33.33%;
      }

      #in2hidd {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 30px;
        color: #fff;
      }

      .in2 {
        grid-area: in2;
        border-top: 1px solid black;
        padding-top: 10px;
        text-align: center;
        display: flex;
      }

      .in2>diV {
        width: 50%;
        color: #fff;
        text-align: left;
      }

      .in3 {
        grid-area: in3;
      }

      .menu {
        font-size: 20px;
      }

      .addBill {
        float: right;
      }

      table {
        border-collapse: collapse;
        border: 2px solid rgb(140 140 140);
        font-family: sans-serif;
        font-size: 0.8rem;
        letter-spacing: 1px;
        width: 100%;
        text-align: center;
      }

      thead {
        background-color: rgb(233, 228, 245);
      }

      th,
      td {
        border: 1px solid rgb(160 160 160);
        padding: 8px 10px;
      }

      td:last-of-type {
        text-align: center;
      }

      tbody>tr:nth-of-type(even) {
       
      }

      tfoot th {
        text-align: right;
      }

      tfoot td {
        font-weight: bold;
      }

      .addBill {
        float: right;
      }


      .all2 {
        display: none;
      }

      .AddBillInterFace {
        width: 80%;
        position: absolute;
        background-color: grey;
        z-index: 4;
        margin: auto;

        left: 50%;
        margin-left: -572px;
        padding: 5px;
      }

      .bodyAddBill {
        padding: 8px;
      }

      .divInfo {
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        padding: 10px;
      }

      @media (max-width:767px) {
        .AddBillInterFace {
          left: 1px;
          margin-left: 0px;
          width: 100%;
        }
      }

      .editdata {
        margin: auto;
        width: 20%;
        font-size: 25px;
      }
      tbody > tr:nth-of-type(n){
        background-color: #fff;
      }

      input[type="file"] {
        display: none;
      }

      .custom-file-upload {
        border: 1px solid green;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
      }

      .inputName {
        width: 100%;
      }

      .labeName {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
      }

      .showw {
        display: block;
      }

      .hidd {
        display: none;
      }





      .AddBillInterFace {
    width: 80%;
    position: absolute;
    background-color: grey;
    z-index: 4;
    margin: auto;
    left: 50%;
    margin-left: -572px;
    padding: 5px;
  }

  .bodyAddBill {
    padding: 8px;
  }

  .divInfo {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    padding: 10px;
  }

  @media (max-width:767px) {
    .AddBillInterFace {
      left: 1px;
      margin-left: 0px;
      width: 100%;
    }
  }

  .editdata {
    margin: auto;
    width: max-content;
    font-size: 25px;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border: 1px solid green;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

  .inputName {
    width: 100%;
  }

  .labeName {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
  }
    </style>
  </head>

  <body>
    <div class="tog hidd">
      <form action="/addnetbill" method="post" enctype="multipart/form-data">
        <div class="AddBillInterFace">
          <div style="display: flex; width: 100%; ">
            <header
              style="text-align: center; width:90%; font-size: 27px; margin: auto; font-weight: 600; border-bottom: 1px solid blue;">
              Your bill information</header><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              fill="currentColor" id="x" class="x ui-svg-inline" style="position: absolute; right:5px;cursor: pointer; ">
              <path class=""
                d="M13.41,12l4.3-4.29a1,1,0,1,0-1.42-1.42L12,10.59,7.71,6.29A1,1,0,0,0,6.29,7.71L10.59,12l-4.3,4.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l4.29,4.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z">
              </path>
            </svg>
          </div><br>
          <div class="bodyAddbill">
            
            <div class="divInfo divInfo1">
              <div style="margin: auto;"><label for="name"
                  class="labeName">Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" data_mat="fgt"  class="inputName"
                  placeholder="Name of bill" name="name"></div>
            </div>
            <div class="divInfo divInfo2">
              <div style="margin: auto;"><label for="value"
                  class="labeName">Value</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" class="inputName"
                  placeholder=" XX $" name="value"></div>
            </div>
            <div class="divInfo divInfo3">
              <div style="margin: auto;"><input style="" type="date" value="" class="inputName inputdate"
                  placeholder="YYYY-MM-DD" name="date" id="currentDate"></div>
            </div>
            <div class="divInfo divInfo4">
              <div style="margin: auto;"><label for="file-upload" class="custom-file-upload" style="color:#fff">
                  Upload bill photo
                </label>
                <input id="file-upload" type="file" name="photo" />
              </div>
            </div>
            <div class="divInfo divInfo5">
              <button class="editdata btn btn-success">Upload</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container">
      <div class="in1">
        <div class="in11">
            <svg style="width: 100px; height:100px;margin-top:-2px; color:blue; float:right" xmlns="http://www.w3.org/2000/svg" class=" h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M17.778 8.222c-4.296-4.296-11.26-4.296-15.556 0A1 1 0 01.808 6.808c5.076-5.077 13.308-5.077 18.384 0a1 1 0 01-1.414 1.414zM14.95 11.05a7 7 0 00-9.9 0 1 1 0 01-1.414-1.414 9 9 0 0112.728 0 1 1 0 01-1.414 1.414zM12.12 13.88a3 3 0 00-4.242 0 1 1 0 01-1.415-1.415 5 5 0 017.072 0 1 1 0 01-1.415 1.415zM9 16a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clip-rule="evenodd"></path>
            </svg>
        </div>
        <div id="in2hidd">Net Section</div>
        <div class="in33">
            <svg style="width: 100px; height:100px;margin-top:-2px; color:blue" xmlns="http://www.w3.org/2000/svg" class=" h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M17.778 8.222c-4.296-4.296-11.26-4.296-15.556 0A1 1 0 01.808 6.808c5.076-5.077 13.308-5.077 18.384 0a1 1 0 01-1.414 1.414zM14.95 11.05a7 7 0 00-9.9 0 1 1 0 01-1.414-1.414 9 9 0 0112.728 0 1 1 0 01-1.414 1.414zM12.12 13.88a3 3 0 00-4.242 0 1 1 0 01-1.415-1.415 5 5 0 017.072 0 1 1 0 01-1.415 1.415zM9 16a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clip-rule="evenodd"></path>
            </svg>
        </div>
      </div>
      <div class="in2">
        <div class="menu">Net Bills </div>
        <div>
          <button class="addBill btn btn-success">Add new Bill</button>
        </div>
      </div>
      <div class="in3">
        <table style="border: none;">

          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Value</th>
              <th scope="col">Date</th>
              <th scope="col">Photo</th>
            </tr>
          </thead>
          <tbody>
            <% for(let netbill of netdata){ %>
            <tr>
              <th scope="row"><%- netbill.name %></th>
              <td><%- netbill.value %></td>
              <td><%- netbill.date %></td>
              <td><img width="50" height="50" src="/uploads/<%= netbill.photo %>" alt=""></td>
              <td><a class="btn btn-danger" href="/net/deleteNet/<%= netbill._id %>" >Delete</a></td>
            </tr>
            <% } %>
          </tbody>

        </table>
      </div>
    </div>
    <script>
      var addBill = document.getElementsByClassName("addBill")[0];
      addBill.addEventListener("click", () => {
        document.getElementsByClassName("tog")[0].classList.add("showw")
        document.getElementsByClassName("tog")[0].classList.remove("hidd")
      })



      $(function () {
        $(".x").load("addbills.ejs")[0].addEventListener("click", () => {
          document.getElementsByClassName("tog")[0].classList.remove("showw")
          document.getElementsByClassName("tog")[0].classList.add("hidd")
        });
      });

    </script>
  </body>

  </html>

  <%- include('parts/bottom.ejs') %>